<% content_for :title, "Accordion - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Controls</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-900">Accordion</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
</div>

<div class="space-y-6 mt-16">
    <div x-data="{ 
        activeAccordion: '', 
        setActiveAccordion(id) { 
            this.activeAccordion = (this.activeAccordion == id) ? '' : id 
        } 
    }" class="relative w-full mx-auto overflow-hidden text-sm font-normal bg-white border border-zinc-200 divide-y divide-zinc-200 rounded-lg">
        <div x-data="{ id: $id('accordion') }" class="cursor-pointer group">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none cursor-pointer font-medium">
                <span>What is Pines?</span>
                <svg class="w-4 h-4 duration-150 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse.duration.150ms x-cloak>
                <div class="p-4 pt-0 opacity-70 cursor-text">
                    Pines is a UI library built for AlpineJS and TailwindCSS.
                </div>
            </div>
        </div>
        <div x-data="{ id: $id('accordion') }" class="cursor-pointer group">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none cursor-pointer font-medium">
                <span>How do I install Pines?</span>
                <svg class="w-4 h-4 duration-150 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse.duration.150ms x-cloak>
                <div class="p-4 pt-0 opacity-70 cursor-text">
                    Add AlpineJS and TailwindCSS to your page and then copy and paste any of these elements into your project.
                </div>
            </div>
        </div>
        <div x-data="{ id: $id('accordion') }" class="cursor-pointer group">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 text-left select-none cursor-pointer font-medium">
                <span>Can I use Pines with other libraries or frameworks?</span>
                <svg class="w-4 h-4 duration-150 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse.duration.150ms x-cloak>
                <div class="p-4 pt-0 opacity-70 cursor-text">
                    Absolutely! Pines works with any other library or framework. Pines works especially well with the TALL stack.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-16">
    <div x-data="{ 
        activeAccordion: '', 
        setActiveAccordion(id) { 
            this.activeAccordion = (this.activeAccordion == id) ? '' : id 
        } 
    }" class="relative w-full mx-auto text-sm font-normal">
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }" class="cursor-pointer group border-b border-zinc-200 py-4">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full text-left select-none font-medium cursor-pointer">
                <div class="flex items-center gap-2">
                    <%= icon "ticket", class: "size-4 text-blue-700" %>
                    <span>Access your booking</span>
                </div>
                <svg class="w-5 h-5 duration-150 ease-out" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse.duration.150ms x-cloak>
                <div class="pt-3 opacity-70 cursor-text">
                    Simply navigate to the "My Trips" section on our website and input your booking reference and last name to view your itinerary details.
                </div>
            </div>
        </div>
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }" class="cursor-pointer group border-b border-zinc-200 py-4">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full text-left select-none font-medium cursor-pointer">
                <div class="flex items-center gap-2">
                    <%= icon "switch-3", class: "size-4 text-blue-700" %>
                    <span>Change flights</span>
                </div>
                <svg class="w-5 h-5 duration-150 ease-out" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse.duration.150ms x-cloak>
                <div class="pt-3 opacity-70 cursor-text">
                    <div class="overflow-hidden text-sm text-zinc-700">
                        <ol class="flex flex-col gap-2">
                            <li><span class="font-semibold text-zinc-900">Step 1:</span> Within your booking details, select "Change Flights."</li>
                            <li><span class="font-semibold text-zinc-900">Step 2:</span> Follow the prompts to select new flight options and confirm the changes.</li>
                            <li><span class="font-semibold text-zinc-900">Step 3:</span> Review your new flight details and any fare differences.</li>
                            <li><span class="font-semibold text-zinc-900">Step 4:</span> Complete the change and receive your updated itinerary via email.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div x-data="{ id: $id('accordion') }" :class="{ 'text-neutral-900': activeAccordion==id, 'text-neutral-600 hover:text-neutral-900': activeAccordion!=id }" class="cursor-pointer group border-b border-zinc-200 py-4">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full text-left select-none font-medium cursor-pointer">
                <div class="flex items-center gap-2">
                    <%= icon "copy-check", class: "size-4 text-blue-700" %>
                    <span>Check-In Online</span>
                </div>
                <svg class="w-5 h-5 duration-150 ease-out" :class="{ '-rotate-[45deg]': activeAccordion==id }" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
                </svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse.duration.150ms x-cloak>
                <div class="pt-3 opacity-70 cursor-text">
                    <div class="overflow-hidden text-sm text-zinc-700">
                        <ol class="flex flex-col gap-2">
                            <li><span class="font-semibold text-zinc-900">Step 1:</span> Starting 48 hours before your flight, access the "Check-In" option.</li>
                            <li><span class="font-semibold text-zinc-900">Step 2:</span> Confirm your details and select your seats to complete the online check-in process.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>