<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Controls</span>
    <h1 class="text-4xl font-bold mb-4">Button</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
</div>

<div class="space-y-6 mt-16">
    <!-- Tab component to show preview/code -->
    <div data-controller="tabs" data-tabs-active-index-value="0" data-tabs-active-tab-class-value="bg-white shadow-md" data-tabs-inactive-tab-class-value="">
        <div class="overflow-hidden inline-block rounded-xl p-1.5 bg-zinc-100">
            <ul class="flex items-center gap-1.5 font-medium text-sm">
                <li>
                    <a href="#" data-action="click->tabs#selectTab" data-tabs-index-param="0" data-tabs-target="tab" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-4 py-2 hover:bg-white hover:shadow-md transition-all duration-200">
                        Preview
                    </a>
                </li>
                <li>
                    <a href="#" data-action="click->tabs#selectTab" data-tabs-index-param="1" data-tabs-target="tab" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-4 py-2 hover:bg-white hover:shadow-md transition-all duration-200">
                        Code
                    </a>
                </li>
                <li>
                    <a href="#" data-action="click->tabs#selectTab" data-tabs-index-param="2" data-tabs-target="tab" class="inline-flex cursor-pointer items-center gap-2 rounded-lg px-4 py-2 hover:bg-white hover:shadow-md transition-all duration-200">
                        Thing
                    </a>
                </li>
            </ul>
        </div>
        <div class="py-3">
            <div data-tabs-target="panel">
                <div class="border border-zinc-200 rounded-xl" style="height:200px"></div>
            </div>
            <div data-tabs-target="panel" hidden>
                <p>Code tab content</p>
            </div>
            <div data-tabs-target="panel" hidden>
                <p>Thing tab content</p>
            </div>
        </div>
    </div>
</div>

<div class="space-y-6 mt-16">
    <button type="button" class="inline-flex items-center justify-center rounded-lg px-3 py-2 tracking-wide text-white transition-colors duration-200 rounded-md bg-neutral-950 hover:bg-neutral-900 focus:ring-2 focus:ring-offset-2 focus:ring-neutral-900 focus:shadow-outline focus:outline-none">
        Button
    </button>
</div>