<% content_for :title, "Dropdown - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Controls</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-900">Dropdown</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
</div>

<div class="mt-16">
    <div class="flex justify-center gap-4">

        <div x-data="{
            open: false,
            toggle() {
                if (this.open) {
                return this.close()
                }
                this.$refs.button.focus()
                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return
                this.open = false
                focusAfter && focusAfter.focus()
            }
            }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button-right']" class="relative">
            <!-- Button -->
            <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button-right')" type="button" class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 rounded-lg shadow-sm bg-white hover:bg-zinc-50 text-zinc-800 border border-zinc-200 hover:border-zinc-200 px-4">
                <span>Bottom Right</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            </button>
            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.right x-on:click.outside="close($refs.button)" :id="$id('dropdown-button-right')" x-cloak class="absolute right-0 min-w-48 rounded-lg shadow-sm mt-2 z-10 origin-top-right bg-white p-1.5 outline-none border border-zinc-200">
                <a href="#new" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    New Task
                </a>
                <a href="#edit" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    Edit Task
                </a>
                <a href="#delete" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-red-50 hover:text-red-600 focus-visible:bg-red-50 focus-visible:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Delete Task
                </a>
            </div>
        </div>

        <!-- Bottom Centered -->
        <div x-data="{
        open: false,
        toggle() {
          if (this.open) {
            return this.close()
          }
          this.$refs.button.focus()
          this.open = true
        },
        close(focusAfter) {
          if (! this.open) return
          this.open = false
          focusAfter && focusAfter.focus()
        }
      }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button-center']" class="relative">
            <!-- Button -->
            <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button-center')" type="button" class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 px-8 rounded-lg shadow-sm bg-white hover:bg-zinc-50 text-zinc-800 border border-zinc-200 hover:border-zinc-200">
                <span>Bottom Centered</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            </button>
            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top x-on:click.outside="close($refs.button)" :id="$id('dropdown-button-center')" x-cloak class="absolute left-1/2 min-w-48 -translate-x-1/2 rounded-lg shadow-sm mt-2 z-10 origin-top bg-white p-1.5 outline-none border border-zinc-200">
                <a href="#new" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    New Task
                </a>
                <a href="#edit" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    Edit Task
                </a>
                <a href="#delete" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-red-50 hover:text-red-600 focus-visible:bg-red-50 focus-visible:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Delete Task
                </a>
            </div>
        </div>

        <div x-data="{
            open: false,
            toggle() {
                if (this.open) {
                    return this.close()
                }
                this.$refs.button.focus()
                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return
                this.open = false
                focusAfter && focusAfter.focus()
            }
        }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']" class="relative">
            <!-- Button -->
            <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')" type="button" class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 rounded-lg shadow-sm bg-white hover:bg-zinc-50 text-zinc-800 border border-zinc-200 hover:border-zinc-200 px-4">
                <span>Bottom Left</span>

                <!-- Heroicon: micro chevron-down -->
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                </svg>
            </button>

            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.top.left x-on:click.outside="close($refs.button)" :id="$id('dropdown-button')" x-cloak class="absolute left-0 min-w-48 rounded-lg shadow-sm mt-2 z-10 origin-top-left bg-white p-1.5 outline-none border border-zinc-200">
                <a href="#new" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    New Task
                </a>

                <a href="#edit" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    Edit Task
                </a>

                <a href="#delete" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-red-50 hover:text-red-600 focus-visible:bg-red-50 focus-visible:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Delete Task
                </a>
            </div>
        </div>

    </div>
</div>

<!-- Drop Up Example -->
<div class="mt-16">
    <div class="flex justify-center gap-4">

        <div x-data="{
            open: false,
            placement: 'top',
            toggle() {
                if (this.open) {
                return this.close()
                }
                this.$refs.button.focus()
                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return
                this.open = false
                focusAfter && focusAfter.focus()
            }
            }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button-up']" class="relative">
            <!-- Button -->
            <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button-up')" type="button" class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 rounded-lg shadow-sm bg-white hover:bg-zinc-50 text-zinc-800 border border-zinc-200 hover:border-zinc-200 px-4">
                <span>Top Right</span>
                <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="m11.7802 9.78003c-.1407.14045-.3313.21934-.53.21934-.1988 0-.3894-.07889-.53-.21934l-2.72003-2.72-2.72 2.72c-.06866.07369-.15146.13279-.24346.17378s-.19131.06299-.29202.06479c-.1007.0018-.20073-.0167-.29412-.05445-.09338-.03772-.17822-.09386-.24944-.16508s-.12736-.15606-.16508-.24944c-.03772-.09339-.05625-.19342-.05447-.29412.00178-.10071.02382-.20002.06481-.29202s.1001-.1748.17378-.24346l3.25-3.25c.14063-.14045.33125-.21934.53-.21934s.38938.07889.53.21934l3.25003 3.25c.1404.14062.2193.33125.2193.53s-.0789.38937-.2193.53z" fill="currentColor" fill-rule="evenodd" />
                </svg>
            </button>
            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.bottom.right x-on:click.outside="close($refs.button)" :id="$id('dropdown-button-up')" x-cloak class="absolute right-0 bottom-full mb-2 min-w-48 rounded-lg shadow-sm z-10 origin-bottom-right bg-white p-1.5 outline-none border border-zinc-200">
                <a href="#new" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    New Task
                </a>
                <a href="#edit" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    Edit Task
                </a>
                <a href="#delete" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-red-50 hover:text-red-600 focus-visible:bg-red-50 focus-visible:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Delete Task
                </a>
            </div>
        </div>

        <!-- Top Centered -->
        <div x-data="{
        open: false,
        toggle() {
          if (this.open) {
            return this.close()
          }
          this.$refs.button.focus()
          this.open = true
        },
        close(focusAfter) {
          if (! this.open) return
          this.open = false
          focusAfter && focusAfter.focus()
        }
      }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button-center-up']" class="relative">
            <!-- Button -->
            <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button-center-up')" type="button" class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 px-8 rounded-lg shadow-sm bg-white hover:bg-zinc-50 text-zinc-800 border border-zinc-200 hover:border-zinc-200">
                <span>Top Centered</span>
                <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="m11.7802 9.78003c-.1407.14045-.3313.21934-.53.21934-.1988 0-.3894-.07889-.53-.21934l-2.72003-2.72-2.72 2.72c-.06866.07369-.15146.13279-.24346.17378s-.19131.06299-.29202.06479c-.1007.0018-.20073-.0167-.29412-.05445-.09338-.03772-.17822-.09386-.24944-.16508s-.12736-.15606-.16508-.24944c-.03772-.09339-.05625-.19342-.05447-.29412.00178-.10071.02382-.20002.06481-.29202s.1001-.1748.17378-.24346l3.25-3.25c.14063-.14045.33125-.21934.53-.21934s.38938.07889.53.21934l3.25003 3.25c.1404.14062.2193.33125.2193.53s-.0789.38937-.2193.53z" fill="currentColor" fill-rule="evenodd" />
                </svg>
            </button>
            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.bottom x-on:click.outside="close($refs.button)" :id="$id('dropdown-button-center-up')" x-cloak class="absolute left-1/2 bottom-full mb-2 min-w-48 -translate-x-1/2 rounded-lg shadow-sm z-10 origin-bottom bg-white p-1.5 outline-none border border-zinc-200">
                <a href="#new" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    New Task
                </a>
                <a href="#edit" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    Edit Task
                </a>
                <a href="#delete" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-red-50 hover:text-red-600 focus-visible:bg-red-50 focus-visible:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Delete Task
                </a>
            </div>
        </div>

        <div x-data="{
            open: false,
            placement: 'top',
            toggle() {
                if (this.open) {
                return this.close()
                }
                this.$refs.button.focus()
                this.open = true
            },
            close(focusAfter) {
                if (! this.open) return
                this.open = false
                focusAfter && focusAfter.focus()
            }
            }" x-on:keydown.escape.prevent.stop="close($refs.button)" x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button-up']" class="relative">
            <!-- Button -->
            <button x-ref="button" x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button-up')" type="button" class="relative flex items-center whitespace-nowrap justify-center gap-2 py-2 rounded-lg shadow-sm bg-white hover:bg-zinc-50 text-zinc-800 border border-zinc-200 hover:border-zinc-200 px-4">
                <span>Top Left</span>
                <svg fill="none" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" d="m11.7802 9.78003c-.1407.14045-.3313.21934-.53.21934-.1988 0-.3894-.07889-.53-.21934l-2.72003-2.72-2.72 2.72c-.06866.07369-.15146.13279-.24346.17378s-.19131.06299-.29202.06479c-.1007.0018-.20073-.0167-.29412-.05445-.09338-.03772-.17822-.09386-.24944-.16508s-.12736-.15606-.16508-.24944c-.03772-.09339-.05625-.19342-.05447-.29412.00178-.10071.02382-.20002.06481-.29202s.1001-.1748.17378-.24346l3.25-3.25c.14063-.14045.33125-.21934.53-.21934s.38938.07889.53.21934l3.25003 3.25c.1404.14062.2193.33125.2193.53s-.0789.38937-.2193.53z" fill="currentColor" fill-rule="evenodd" />
                </svg>
            </button>
            <!-- Panel -->
            <div x-ref="panel" x-show="open" x-transition.origin.bottom.left x-on:click.outside="close($refs.button)" :id="$id('dropdown-button-up')" x-cloak class="absolute left-0 bottom-full mb-2 min-w-48 rounded-lg shadow-sm z-10 origin-bottom-left bg-white p-1.5 outline-none border border-zinc-200">
                <a href="#new" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    New Task
                </a>
                <a href="#edit" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-zinc-50 focus-visible:bg-zinc-50 disabled:opacity-50 disabled:cursor-not-allowed">
                    Edit Task
                </a>
                <a href="#delete" class="px-2 lg:py-1.5 py-2 w-full flex items-center rounded-md transition-colors text-left text-zinc-800 hover:bg-red-50 hover:text-red-600 focus-visible:bg-red-50 focus-visible:text-red-600 disabled:opacity-50 disabled:cursor-not-allowed">
                    Delete Task
                </a>
            </div>
        </div>

    </div>
</div>