<% content_for :title, "Text - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Forms</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-900">Text</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
    <p>The below describes some practices.</p>
</div>

<div class="space-y-6 mt-16">
    <div class="flex flex-col items-center justify-center gap-3 mx-auto max-w-sm">
        <p class="font-bold text-zinc-900">Headings are bold and zinc-900.</p>
        <p>Standard text is zinc 700.</p>
        <p class="text-zinc-500">Light text is zinc 500.</p>
    </div>
</div>

<div class="space-y-6 mt-16">
    <div class="flex flex-col items-center justify-center space-y-3 mx-auto max-w-sm">
        <a class="inline cursor-pointer text-zinc-900 font-medium underline-offset-[5px] decoration-zinc-200 hover:decoration-current underline" href="#" data-flux-link="">Default link</a>
        <a class="inline cursor-pointer text-zinc-900 font-medium underline-offset-[5px] hover:decoration-current no-underline hover:underline" href="#" data-flux-link="">Ghost link</a>
        <p>
            I'm Derek, an astro-engineer based in Tattooine. I like to build X-Wings
            at <a class="inline cursor-pointer text-zinc-900 font-medium underline-offset-[5px] decoration-zinc-200 hover:decoration-current underline">My Company, Inc</a>. Outside
            of work, I like to <a class="inline cursor-pointer text-zinc-900 font-medium underline-offset-[5px] decoration-zinc-200 hover:decoration-current underline">watch pod-racing</a>
            and have <a class="inline cursor-pointer text-zinc-900 font-medium underline-offset-[5px] decoration-zinc-200 hover:decoration-current underline">light-saber</a> fights.
        </p>
    </div>
</div>