<% content_for :title, "Tooltip - Lucky  UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-zinc-500">Controls</span>
    <h1 class="text-4xl font-bold mb-4 text-zinc-900">Tooltip</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
    <p>This uses tippy.js and @ryangjchandler/alpine-tooltip. i pulled all the css into my own css in application.css and used @apply stuff there. Default position is top.</p>
</div>

<div class="mt-16">
    <div class="flex h-40 items-center justify-center space-x-5">
        <div x-data="{ tooltip: 'This is a tooltip.' }">
            <div x-tooltip="tooltip" class="rounded-lg bg-zinc-100 px-3 py-1.5 text-sm cursor-default">Hover over me</div>
        </div>
    </div>
</div>

<div class="mt-16">
    <div class="flex h-40 items-center justify-center space-x-5 text-zinc-800">
        <span x-data="{ tooltip: 'This is a top tooltip.' }">
            <div x-tooltip="tooltip" class="rounded-lg bg-zinc-100 px-3 py-1.5 text-sm cursor-default">Top</div>
        </span>
        <span x-data="{ tooltip: 'This is a right tooltip.' }">
            <div x-tooltip.placement.right="tooltip" class="rounded-lg bg-zinc-100 px-3 py-1.5 text-sm cursor-default">Right</div>
        </span>
        <span x-data="{ tooltip: 'This is a bottom tooltip.' }">
            <div x-tooltip.placement.bottom="tooltip" class="rounded-lg bg-zinc-100 px-3 py-1.5 text-sm cursor-default">Bottom</div>
        </span>
        <span x-data="{ tooltip: 'This is a left tooltip.' }">
            <div x-tooltip.placement.left="tooltip" class="rounded-lg bg-zinc-100 px-3 py-1.5 text-sm cursor-default">Left</div>
        </span>
    </div>
</div>

<div class="mt-16">
    <div class="flex h-40 items-center justify-center space-x-5">
        <span x-data="{ tooltip: 'This is a hover tooltip.' }">
            <button type="button" x-tooltip="tooltip" class="inline-flex items-center justify-center gap-2 text-zinc-800 bg-white border border-zinc-300 hover:bg-zinc-100 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer focus:outline-none whitespace-nowrap disabled:cursor-default disabled:pointer-events-none disabled:opacity-75">Hover</button>
        </span>
        <span x-data="{ tooltip: 'This is a click tooltip.' }">
            <button type="button" x-tooltip.on.click="tooltip" class="inline-flex items-center justify-center gap-2 text-zinc-800 bg-white border border-zinc-300 hover:bg-zinc-100 font-medium rounded-lg text-sm px-4 py-2 cursor-pointer focus:outline-none whitespace-nowrap disabled:cursor-default disabled:pointer-events-none disabled:opacity-75">Click</button>
        </span>
    </div>
</div>