<nav data-nav-target="menu" class="menu fixed bottom-0 right-auto top-0 z-20 w-full hidden lg:w-60 overflow-y-auto border-r pb-10 pt-18 lg:pt-22 lg:block border-zinc-200 bg-white">
    <div class="relative overflow-hidden h-full py-6 mdpy-8 text-zinc-500">
        <div class="h-full w-full">
            <%= render TabComponent.new(
                variant: :line,
                orientation: :vertical,
                sections: [
                    {
                        heading: "Getting Started",
                        tabs: [
                            { 
                                text: "Introduction", 
                                path: root_path, 
                                active: current_page?(root_path) 
                            },
                            { 
                                text: "How to Use", 
                                path: how_to_use_path, 
                                active: current_page?(how_to_use_path) 
                            },
                            { 
                                text: "Contribution", 
                                path: contribution_path, 
                                active: current_page?(contribution_path) 
                            }
                        ]
                    },
                    {
                        heading: "Interface",
                        tabs: [
                            { 
                                text: "Accordion", 
                                path: components_accordion_path, 
                                active: current_page?(components_accordion_path) 
                            },
                            { 
                                text: "Badge", 
                                path: components_badge_path, 
                                active: current_page?(components_badge_path) 
                            },
                            { 
                                text: "Icon", 
                                path: components_icon_path, 
                                active: current_page?(components_icon_path) 
                            },
                            { 
                                text: "Tab", 
                                path: components_tab_path, 
                                active: current_page?(components_tab_path) 
                            },
                            { 
                                text: "Text", 
                                path: components_text_path, 
                                active: current_page?(components_text_path) 
                            },
                            { 
                                text: "Tooltip", 
                                path: components_tooltip_path, 
                                active: current_page?(components_tooltip_path) 
                            }
                        ]
                    },
                    {
                        heading: "Forms",
                        tabs: [
                            { 
                                text: "Button", 
                                path: components_button_path, 
                                active: current_page?(components_button_path) 
                            },
                            { 
                                text: "Dropdown", 
                                path: components_dropdown_path, 
                                active: current_page?(components_dropdown_path) 
                            },
                            { 
                                text: "Input", 
                                path: components_input_path, 
                                active: current_page?(components_input_path) 
                            },
                            { 
                                text: "Select", 
                                path: components_select_path, 
                                active: current_page?(components_select_path) 
                            },
                            { 
                                text: "Switch", 
                                path: components_switch_path, 
                                active: current_page?(components_switch_path) 
                            },
                            { 
                                text: "Textarea", 
                                path: components_textarea_path, 
                                active: current_page?(components_textarea_path) 
                            }
                        ]
                    }
                ]
            ) %>
        </div>
    </div>
</nav>