<% content_for :title, "Lucky UI" %>

<div class="flex flex-col mb-8">
    <span class="text-sm mb-2 text-gray-600">Getting Started</span>
    <h1 class="text-4xl font-bold mb-4">Introduction</h1>
    <p>Tabs organize and allow navigation between groups of content that are related and at the same level of hierarchy.</p>
</div>